.navbar-inverse {
    background: #2C3531;
}

.navbar-inverse .navbar-nav li a {
    color: #FFCB9A;
    font-size: 1.3em;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.navbar .dropdown .dropdown-menu {
    background-color: #2C3531;
    border: 1px solid black;
}

.navbar .dropdown .dropdown-menu .divider {
    background-color: black;
}

.navbar .dropdown .dropdown-menu a:hover {
    color: #D9B08C;
    background-color: #2C3531;
}
